@use "../../scss-variables/colors";

.signup-section {
  background-color: colors.$primary-white; // The light purple tint
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: #ffffff;
  border-radius: 1.5rem;
  padding: 3rem;
  width: 100%;
  max-width: 450px;
}

.btn-primary {
  background-color: colors.$primary-main;
  border: none;
  border-radius: 2rem;
  padding: 0.8rem;
  transition: background 0.3s ease;

  &:hover {
    background-color: colors.$primary-dark;
  }
}

h2 {
  color: colors.$primary-dark;
  font-weight: 800;
}

.form-label {
  color: colors.$primary-dark;
  font-weight: 500;
}

.icon-warning {
  display: inline-block;
  width: 24px;
  height: 24px;
  -webkit-mask: url('/icons/x-circle.svg') no-repeat center;
  mask: url('/icons/x-circle.svg') no-repeat center;
  background-color: red;
  vertical-align: middle;
}
