/* You can add global styles to this file, and also import other style files */
@import "./app/scss-variables/colors.scss";

body {
  background-color: $primary-white !important;
  font-family: Inter, sans-serif;
}
